# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore the backup folder
backups/

# Ignore any encrypted files
*.gpg

# Ignore the checksum files
*.md5

# Other
.directory
*swp
*.backup-archiver.log
